body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(90.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    border: 3px solid white;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color:  linear-gradient(rgb(19, 18, 18),rgb(180, 177, 177));
    text-align: center;
}
label{
    color: white;
}

.input-section, .filter {
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    margin-right: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

button {
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.delete-btn {
    background: #dc3545;
}

.delete-btn:hover {
    background: #c82333;
}
h2{
    color: white;

}


